<!-- Begin About -->
<section id="section2" class="section fullScreen" data-color="#000">
	<div class="col-md-12">
		<div class="col-md-3">
			<%= image_tag('me.jpg', class: "aboutImage") %>
		</div>
		<div class="col-md-4 aboutText">
			<p>Production consultancy - we’re here to make life as easy as possible for smaller agencies by taking on everything to do with production. We’re here to find the best way to bring your creative idea to vivid life. From providing ball-parks and establishing feasibility to suggesting exciting and unexpected ways to make a production happen; from creating research materials to handling the business side of the production. Whether yours is a global 360° campaign or a local adapt, we’ll deliver it on time and on budget.</p>
			
			<p>Recruitment - the key to the way we recruit is insight into the agency, its style and ethos. This lets us match the producer or PA perfectly to the position, whether it’s fulltime or freelance. Our experience and breadth of contacts gives us a unique talent for finding that all-important chemistry.</p>
		</div>
		<div class="col-md-4 aboutText2">
		</div>
	</div>
	
</section>