<!-- Begin Portfolio -->
<section id="section2" class="portfolio clearfix dark">
	<div class="col-md-12">
		<div class="col-md-1">&nbsp;</div>
		<div class="col-md-10">
			<p class="aboutHeader">What we do</p>
		</div>
		<div class="col-md-1">&nbsp;</div>
	</div>
	<div class="about">
		<div class="col-md-12">
			<div class="col-md-1">&nbsp;</div>
			<div class="col-md-10">
				<p class="aboutText">Recruitment - We place freelance and full time agency producers and PA’s. By making sure we understand the ethos of each agency we match the right producer with careful consideration for a perfect collaboration.</p>
			</div>
			<div class="col-md-1">&nbsp;</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-1">&nbsp;</div>
			<div class="col-md-11"><a id="btnClick"><i class="fa fa-arrow-circle-o-right light"></i></a></div>
		</div>
	</div>
	<div class="about2">
		<div class="col-md-12">
			<div class="col-md-1">&nbsp;</div>
			<div class="col-md-10">
				<p class="aboutText">Production consultancy - Our aim is to create strong relationships with smaller agencies so we are the go to people for all things production related. This includes ball-parking creative ideas to make sure the project is feasible and advising on production methods to ensure the ideas being presented meets Agency &amp; Client expectations. We Oversee all elements of productions from creating research materials for testing to producing full up productions making sure the job is delivered on time and budget. This includes Business Affairs, clear cast approval and playouts. Whether large global 360 campaigns, smaller online films of adapts of existing material.</p>
			</div>
			<div class="col-md-1">&nbsp;</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-1">&nbsp;</div>
			<div class="col-md-11"><a id="btn2Click"><i class="fa fa-arrow-circle-o-left light"></i></a></div>
		</div>
	</div>
	
</section>