<!-- Begin Portfolio -->
<section id="section4" class="portfolio clearfix">

	<div class="content container">
		<div class="title grid-full">
			<h2 id="releaseHeader">Candidates</h2>
			<span class="border"></span>
		</div>
	</div>
	
</section>