<div class="section">
	<section id="page3" class="fullScreen">
		<div class="col-md-12">
			<div class="col-md-3">&nbsp;</div>
			<div class="col-md-6">
				<p class="contactText">We love meeting industry talents so please send us your CV or give us a call. We will be in touch to arrange a meeting to strategise your next move.</p><br/><br/><br/>
			</div>
			<div class="col-md-3">&nbsp;</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-2">&nbsp;</div>
			<div class="col-md-8 mailDetails">
					<i class="fa fa-envelope-o fa-3x"> | <i class="fa fa-phone fa-3x"></i></i>
					<p class="contactDeets"><br/><br/><br/><br/>
						<strong>Sally Alekna</strong><br/>
						sally(at)beetle(dot)tv<br/>
						+44 7976 703739<br/><br/>
						<strong>Lyndsay Myerscough</strong><br/>
						lyndsay(at)beetle(dot)tv<br/>
						+44 7973 445463
					</p>
				</a>
			</div>
			<div class="col-md-2">&nbsp;</div>
		</div>
	</section>
</div>