<section id="section4" class="black clearfix contactBlack dark">
	<div class="col-md-12">
		<div class="col-md-2">&nbsp;</div>
		<div class="col-md-8">
			<p class="contactText">We love meeting industry talents so please send us your CV. We will be in touch to arrange a meeting to strategise your next move.</p>
		</div>
		<div class="col-md-2">&nbsp;</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-2">&nbsp;</div>
		<div class="col-md-4 mailDetails">
				<i class="fa fa-envelope-o fa-3x light"></i>
				<p class="contactDeets">
					<strong>Sally Alekna - </strong>  sally(at)beetle(dot)tv<br>
					<strong>Lyndsay Myerscough - </strong> lyndsay(at)beetle(dot)tv
				</p>
			</a>
		</div>
		<div class="col-md-4 mailDetails">
				<i class="fa fa-phone fa-3x light"></i>
				<p class="contactDeets">
					<strong>Sally Alekna - </strong>  +44 7976 703739<br>
					<strong>Lyndsay Myerscough - </strong> +44 7973 445463
				</p>
			</a>
		</div>
		<div class="col-md-2">&nbsp;</div>
	</div>
</section>
<!-- End Clients -->