<!-- Begin Hero -->
<section id="section1" class="main col-md-12">
	<!--<div class="">
		<video autoplay="autoplay" poster="" class="fullscreen-bg__video">
	        <source src="https://s3.amazonaws.com/dead-light/video.mp4" type="video/mp4">
	        <source src="https://s3.amazonaws.com/dead-light/video.ogv" type="video/ogg">
	        <source src="https://s3.amazonaws.com/dead-light/video.webm" type="video/webm">
	    </video>
	</div>-->
	<div class="col-md-12">
		<div class="col-md-5">&nbsp;</div>
		<div class="col-md-2"><%= image_tag('logo.png', class: "logo") %></div>
		<div class="col-md-5">&nbsp;</div>
	</div>
	<div class="col-md-2">&nbsp;</div>
	<div class="col-md-8">
		<p class="heroText">This is where the about text/strapline will go. Ideally it will be about 4 sentences long. About as long as this paragraph. There could be a fullscreen video or fullscreen image behind this text, or nothing apart from the text; let the message be the focus point.</p>
	</div>
	<div class="col-md-2">&nbsp;</div>
	<div class="col-md-12">
		<div class="col-md-5">&nbsp;</div>
		<div class="col-md-2"><div class="down"><a href="#section2"><i class="fa fa-angle-double-down"></i></a></div></div>
		<div class="col-md-5">&nbsp;</div>
	</div>
</section>
<!-- End Hero -->