$black: #000;
$white: #fff;
$darkGrey: #303030;
$lightGrey: #222;
$xxx-large:42px;
$xx-large:36px;
$x-large:30px;
$large:24px;
$medium:18px;
$small:12px;

img {max-width:100%;}

a {color:$white;}
a:hover, a:visited, a:link, a:active {text-decoration:none;}

.active {color:#fff000;}

.fullScreen {width:100%;height:100vh;}
.slicknav_menu {display:none;}

#page1, #page3 {background-color:$black;}
#page2, #page5 {background-color:$white;}
#page4 {background-color:$darkGrey;}

.logo {background:asset-data-url('logo-sprite.png')no-repeat top left;width:220px;height:92px;background-position: 0 -102px;}
.whiteLogo {background-position: 0 -102px;}
.blackLogo {background-position: 0 0px;}
.whiteBG {background-color:$white;}
.blackBG {background-color:$black;}

.navContainer {position:fixed;width:100%;padding:10px;height:192px;z-index:100;}
.menuWrapper {text-align:right;margin-top:72px;padding:0;}
.menuWrapper li {display:inline;width:72px;height:$large;text-align:left;padding-left:$xxx-large;}
.menuWrapper li:nth-child(5) {margin-right:48px;}
.menuWrapper li a {color:$white;font-family:"Gotham-Medium";font-size:$medium;}
.menuWrapper li.logoWrapper {position:absolute;left:$medium;top:60px;}

.heroText {margin-top:360px;}
.heroText p {font-family:"Gotham-Medium";color:$white;font-size:24px;z-index:100;margin-left:30px;}
.aboutImageWrapper {margin-top:216px;}
.aboutImage {margin-left:30px;width:100%;}
.aboutImage2 {margin-top:18px;}
.aboutText, .aboutText2 {margin-top:216px;}
.aboutText p, .aboutText2 p {font-family:"Gotham-ExtraLight";color:$black;font-size:$medium;line-height:$large;z-index:100;margin-left:54px;}

#particles-js {
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: 50% 50%;
	z-index:0;
}