<!-- Begin Navigation -->
<% if controller.controller_name == 'home' && controller.action_name == 'index' %>
	<nav class="wrapper">
		<div class="col-md-12" id="naviMenu">
			<div class="col-md-2">&nbsp;</div>
			<div class="col-md-8">
				<div>
					<ul class="nav">
						<div class="navLink2"><li><a href="#section1">Home</a></li></div>
						<div class="navLink"><li><a class="moveLeft" href="#section2">What We Do</a></li></div>
						<div class="navLink"><li><a class="moveLeft" href="#section3">Our Work</a></li></div>
						<div class="navLink"><li><a class="moveLeft" href="#section4">Get In Touch</a></li></div>
					</ul>
				</div>
			</div>
			<div class="col-md-2">&nbsp;</div>
		</div>
	
	</nav>
	<nav class="wrapper">
		<div class="col-md-12" id="menu">
			<div class="col-md-2">&nbsp;</div>
			<div class="col-md-8">
				<div>
					<ul class="nav">
						<div class="navLink2"><li><a href="#section1">Home</a></li></div>
						<div class="navLink"><li><a class="moveLeft" href="#section2">What We Do</a></li></div>
						<div class="navLink"><li><a class="moveLeft" href="#section3">Our Work</a></li></div>
						<div class="navLink"><li><a class="moveLeft" href="#section4">Get In Touch</a></li></div>
					</ul>
				</div>
			</div>
			<div class="col-md-2">&nbsp;</div>
		</div>
	
	</nav>
<% end %>