<!-- Begin Navigation -->
<% if controller.controller_name == 'home' && controller.action_name == 'index' %>
	<nav class="spacing">
		<div class="navContainer" id="naviMenu">
		    <ul class="menuWrapper">
		        <li class="navLink2 logoWrapper"><a href="#section1"><div class='logo'></div></a></li>
				<li class="navLink"><a href="#section2">What We Do</a></li>
		        <li class="navLink"><a href="#section3">Candidate Space</a></li>
		        <li class="navLink"><a href="#section4">Get In Touch</a></li>
		        <li class="navLink"><a href="#section5">Our Work</a></li>
		    </ul>
		</div>
	</nav>
<% end %>